Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Werkzeug
python-dotenv
torch
transformers
dotenv
pdfplumber
easyocr
python-docx 
requests 
beautifulsoup4 
youtube-transcript-api 
pillow
flask-migrate
openai
flask-cors
numpy
tiktoken
sentence-transformers
scikit-learn
elevenlabs
google-cloud-texttospeech
pydub
gTTS
faiss-cpu